@model IEnumerable<FinalWorkDentistry.Domains.CategoryDoctor>

@{
    ViewData["Title"] = "Редактирование категорий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="AddCategoryDoctor" class="btn-success">
        Добавить новую категорию
    </a>
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDoctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "EditCategoryDoctor", new { id = item.CategoryDoctorId }) |
                    @Html.ActionLink("Удалить", "DeleteCategoryDoctor", new { id = item.CategoryDoctorId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="Doctor"
       asp-action="ListView">Вернуться в каталог с книгами</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
