@model FinalWorkDentistry.Models.ReviewsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string pathAndQuery = Context.Request.Path + Context.Request.QueryString;
}

<h1 style="text-align: left;">@ViewData["Отзывы"]</h1>

<style>
    .container_form-review {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .form-container {
        width: 60%;
        background-color: #6F8AA4;
        border-radius: 5px;
    }

    .review-card {
        background-color: #f0f0f0;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        height: 150px;
    }

    input, textarea {
        background-color: #E9F3FA;
        border-radius: 10px;
    }

    .marg {
        margin-left: 10px;
    }

    .form-container input[type="tel"],
    .form-container input[type="text"],
    .form-container textarea {
        width: calc(100% - 40px);
        margin: 10px;
        padding: 5px;
        box-sizing: border-box;
    }

    .image-container {
        width: 35%;
    }

        .image-container img {
            width: 100%;
            border-radius: 5px;
        }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Отзыв</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReviewForPage)
        {
            <tr>
                <td>@item.NameReview</td>
                <td>@item.Text</td>
                @if (User.IsInRole("ContentManager"))
                {
                    <td>
                        <a asp-action="DeleteReview"
                           asp-controller="ContentManager"
                           asp-route-id="@item.ReviewId"
                           asp-route-urlReturn="@pathAndQuery"
                           class="btn">
                            Удалить отзыв
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div class="container_form-review" id="reviews">
    <div class="form-container">
        <h2 style="padding-bottom: 20px; padding-left:10px;">Оставьте свой отзыв</h2>
        @using (Html.BeginForm("SubmitReview", "Review", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <br>
            <label class="marg" for="name">Введите ваше имя:</label>
            <br>
            <input type="text" id="name" name="NameReview" required>

            <br>
            <label class="marg" for="message">Текст отзыва:</label>
            <br>
            <textarea id="message" name="Text" required></textarea>

            <br>
            <button class="marg btn" type="submit">Отправить отзыв</button>
        }
    </div>
    <div class="image-container">
        <img src="/images/char.png" alt="Картинка">
    </div>
</div>
