@using FinalWorkDentistry.Helpers;
@using FinalWorkDentistry.UsersRoles
@using Microsoft.AspNetCore.Authorization
  @model FinalWorkDentistry.Models.DoctorPageModel  
  @inject IAuthorizationService AuthorizationService
@* @model FinalWorkDentistry.Models.DoctorModel *@
@*  @inject FinalWorkDentistry.Models.DoctorModel docModel *@

 @* @inject FinalWorkDentistry.Models.DoctorPageModel categDoc; *@
 


@*<a class="btn btn-lg btn-light"
asp-controller="Service"
asp-action="ListView">Список услуг</a>*@

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.CategoryDoctor == null
        ? ""
        : $"{Model.CategoryDoctor}";

    string pathAndQuery = Context.Request.Path + Context.Request.QueryString;
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

@await Component.InvokeAsync("MenuCategories")



<style>


    h1 {
        font-size: 36px;
        color: #333;
        margin-bottom: 30px;
    }

    .blocks {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    .block {
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тени */
        transition: transform 0.3s ease;
        cursor: pointer;
        overflow: hidden;
        height: 350px; /* Растягиваем карточку под содержимое */


       
    }

        .block:hover {
            transform: translateY(-5px);
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Тени при наведении */
        }

    .block-content {
        padding: 20px;
    }

    .block p {
        font-size: 14px;
        color: #333;
        margin: 0;
    }

    .block .price {
        font-weight: bold;
        margin-top: 10px;
        color: blue; /* Цвет цены */
    }

    .book-button {
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #536D86;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: bottom 0.3s ease;
    }

    .block:hover .book-button {
        bottom: 20px;
    }

    .book-button:hover {
        background-color: #536D86;
        color: #3f555a;
    }


    .block-content {
        padding: 20px;
        display: flex;
        justify-content: space-between;
       
    }

    .image-container {
        position: relative;
        width: 40%;
        height: 100%;
        overflow: hidden;
    }

    .image-wrapper {
        position: relative;
    }

    .image-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7); /* Прозрачный белый цвет */
        z-index: -1; /* Устанавливаем более низкий уровень z-index, чтобы фон был под изображением */
    }


        .image-wrapper img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }


    .info-container {
        width: 55%; /* Ширина контейнера для информации о докторе */
        display: flex;
        flex-direction: column;
    }

        .info-container h5 {
            margin: 0;
        }

        .info-container p {
            margin: 5px 0;
        }

    .border {
        border-bottom: 1px solid #ccc; /* Горизонтальная линия */
        margin-bottom: 10px; /* Отступ после горизонтальной линии */
    }

    .book-button {
        align-self: flex-end; /* Кнопка прижимается к нижнему краю */
        background-color: #536D86;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .book-button:hover {
            background-color: #3f555a;
        }

    .button-container {
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        height: 100%; 
       
    }


</style>


<!-- Модальное окно -->
@* <div class="modal" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title btn_header" id="exampleModalLabel" >Записаться на прием</h4>
              
                <img class="close" src="~/images/close.png" style="cursor: pointer" />

            </div>
            <div class="modal-body" style="color: black">
                <form id="contactForm">

                 
                    <div class="mb-3">

                        <input type="text" class="form-control" id="name" placeholder="Введите ваше имя" required>

                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control phone" id="phone" placeholder="Ваш телефон +7(999)999-99-99" required>
                    </div>
                  
                    <div class="mb-3">
                        <textarea class="form-control" id="area" rows="3" placeholder="Опишите симптомы"></textarea>
                    </div>
                   

                    <button type="submit" class="btn">Заказать звонок</button>

                </form>


            </div>
        </div>
    </div>
</div>




<font color="black;">


    <div id="thankYouModal" class="modal">
        <div class="modal-content">
            @*   <span class="thank-you-close">&times;</span> 
            <img class="thank-you-close" src="~/images/close.png" style="cursor: pointer" />
            <h5 style="text-align: center;">Спасибо за вашу заявку! Мы свяжемся с вами в ближайшее время.</h5>

        </div>
    </div>
</font> *@




<div class="blocks">

    @foreach (var item in Model.DoctorForPage)
    {
        <div class="block">
            <div class="block-content">
                <div class="image-container" style="background-color: #536D86; border-radius: 5px;">
                    <div class="image-wrapper">
                        <img src="@Url.Content("~/DoctorsImages/" + item.ImageUrl)" alt="Doctor Image">
                    </div>
                </div>
                <div class="info-container">
                    <h5>@item.Name</h5>
                    <p>@item.Job</p>
                    <div class="border"></div>
                    <p class="description">@item.Description</p>
                    <div class="button-container">
                        @if (User.IsInRole("ContentManager"))
                          
                        {
                            <a asp-action="EditDoctorView"
                               asp-controller="ContentManager"
                               asp-route-id="@item.DoctorId"
                               asp-route-urlReturn="@pathAndQuery"
                               class="btn" style="margin-top: auto;">
                                Изменить
                            </a>
                            <a asp-action="DeleteDoctor"
                               asp-controller="ContentManager"
                               asp-route-id="@item.DoctorId"
                               asp-route-urlReturn="@pathAndQuery"
                               class="btn" style="margin-top:5px;">
                               Удалить
                            </a> 
                        }
                        else
                        {
                            <button type="submit" 
                                style="margin-top: auto;" class="button btn"
                                data-bs-target="#openModalList-@item.DoctorId">Записаться</button>
                        }
                      @*   <button class="btn" style="margin-top: auto;">Записаться</button> *@
                       
                    </div>
                </div>
            </div>
        </div>
    }
</div>






<script>


    document.addEventListener("DOMContentLoaded", function () {
        // Получаем элементы
        var openModalButtons = document.querySelectorAll(".button");
        var closeModalButtons = document.querySelectorAll(".close");
        var modal = document.getElementById("modal");
        var thankYouModal = document.getElementById("thankYouModal");
        var form = document.getElementById("contactForm");
        var area = document.getElementById("area");
        var name = document.getElementById("name");
        var phone = document.getElementById("phone");
        var thankYouCloseBtn = document.querySelector(".thank-you-close");

        // Функция для открытия модального окна
        function openModal() {
            modal.style.display = "block";
            name.value = ""; // Очищаем поле имени
            phone.value = ""; // Очищаем поле телефона
            area.value = "";
        }

        // Функция для закрытия модального окна
        function closeModal() {
            modal.style.display = "none";
        }

        // Обработчик события для кнопок "Записаться"
        openModalButtons.forEach(function (button) {
            button.addEventListener("click", openModal);
        });

        // Обработчик события для кнопок "Закрыть"
        closeModalButtons.forEach(function (button) {
            button.addEventListener("click", closeModal);
        });

        // Закрываем модальное окно при клике вне его
        window.addEventListener("click", function (event) {
            if (event.target === modal) {
                closeModal();
            }
        });

        // Валидация и обработка формы
        form.addEventListener("submit", function (event) {
            event.preventDefault(); // Предотвращаем отправку формы

            // Проверяем введенные данные
            var enteredName = name.value.trim();
            var enteredPhone = phone.value.trim();

            if (enteredName === "" || enteredPhone === "") {
                alert("Пожалуйста, заполните все поля");
            } else {
                // Здесь можно добавить код для отправки данных на сервер или выполнения других действий
                // После успешной отправки формы, закрываем текущее модальное окно и открываем модальное окно благодарности
                closeModal();
                thankYouModal.style.display = "block";
            }
        });

        // Закрываем модальное окно благодарности при клике на "закрыть"
        thankYouCloseBtn.addEventListener("click", function () {
            thankYouModal.style.display = "none";
        });

        // Закрываем модальное окно благодарности, если пользователь кликнул вне его
        window.addEventListener("click", function (event) {
            if (event.target === thankYouModal) {
                thankYouModal.style.display = "none";
            }
        });
    });



</script>




    @section scripts {

    <script>


        document.addEventListener("DOMContentLoaded", function () {
            // Получаем элементы
            var modal = document.getElementById("modal");
            var btn = document.getElementById("openModal");
            var closeBtn = document.getElementsByClassName("close")[0];
            var form = document.getElementById("contactForm");
            var thankYouModal = document.getElementById("thankYouModal");
            var area = document.getElementById("area");
            var name = document.getElementById("name");
            var phone = document.getElementById("phone");
            var thankYouCloseBtn = document.getElementsByClassName("thank-you-close")[0];


            // Открываем модальное окно при клике на кнопку
            btn.onclick = function () {
                modal.style.display = "block";
                name.value = ""; // Очищаем поле имени
                phone.value = ""; // Очищаем поле телефона
                area.value = "";

            }

            // Закрываем модальное окно при клике на "закрыть"
            closeBtn.onclick = function () {
                modal.style.display = "none";
            }

            // Закрываем модальное окно, если пользователь кликнул вне его
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Валидация и обработка формы
            form.onsubmit = function (event) {
                event.preventDefault(); // Предотвращаем отправку формы

                // Проверяем введенные данные
                var name = document.getElementById("name").value;
                var phone = document.getElementById("phone").value;

                if (name.trim() === "" || phone.trim() === "") {
                    alert("Пожалуйста, заполните все поля");
                    return false;
                } else {
                    // Здесь вы можете добавить код для отправки данных на сервер или выполнения других действий
                    // После успешной отправки формы, закрываем текущее модальное окно и открываем модальное окно благодарности
                    modal.style.display = "none";
                    thankYouModal.style.display = "block";
                    return true;
                }
            }

            // Закрываем модальное окно благодарности при клике на "закрыть"
            thankYouCloseBtn.onclick = function () {
                thankYouModal.style.display = "none";
            }
            console.log();
            // Закрываем модальное окно благодарности, если пользователь кликнул вне его
            window.onclick = function (event) {
                if (event.target == thankYouModal) {
                    thankYouModal.style.display = "none";
                }
            }
        });


    </script>
    }






