@using FinalWorkDentistry.BlazorComponents
@using FinalWorkDentistry.Helpers
@model FinalWorkDentistry.Models.ServicePageModel;

@{
    ViewData["Title"] = Model.CategoryName == null ? "" : $"{Model.CategoryName}";
    string pathAndQuery = Context.Request.Path + Context.Request.QueryString;
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

@await Component.InvokeAsync("MenuCategoriesService")

<head>
    <style>
        h1 {
            font-size: 36px;
            color: #333;
            margin-bottom: 30px;
        }

        .blocks {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .block {
            position: relative;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            cursor: pointer;
            overflow: hidden;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .block:hover {
                transform: translateY(-5px);
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            }

        .block-content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .block h5 {
            margin: 0 0 10px;
            font-size: 18px;
            color: #333;
        }

        .block p {
            font-size: 14px;
            color: #333;
            margin: 0;
        }

        .block .price {
            font-weight: bold;
            margin-top: 10px;
            color: blue;
        }

        .book-button {
            position: absolute;
            bottom: -80px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #536D86;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: bottom 0.3s ease;
        }

        .block:hover .book-button {
            bottom: 20px;
        }

        .book-button:hover {
            background-color: #536D86;
            color: #3f555a;
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
            gap: 5px; /* Устанавливаем расстояние между кнопками */
            margin-top: auto;
        }
    </style>
</head>

<form style="margin-left: 20px;" method="get" action="@Url.Action("Search", "Service")" class="d-flex align-items-center">
    <input style="border-radius: 10px; padding: 5px; width: 300px;" type="text" name="searchString" class="form-control me-2 search-input" oninput="capitalizeFirstLetter(event)">
    <button type="submit" style="background-color: #6F8AA4; color:#3f555a; border: none; font-size: 24px">Найти</button>
</form>

<div class="blocks">
    @foreach (var item in Model.ServicesForPage)
    {
        <div class="block">
            <div class="block-content">
                <h5>@item.Name</h5>
                <p style="font-size: 18px;" class="price">@item.Price</p>
                <div class="button-container">
                    @if (User.IsInRole("ContentManager"))
                    {
                        <a asp-action="EditServiceView"
                           asp-controller="ContentManager"
                           asp-route-id="@item.ServiceId"
                           asp-route-urlReturn="@pathAndQuery"
                           class="btn"
                        >
                            Изменить
                        </a>
                        <a asp-action="DeleteService"
                           asp-controller="ContentManager"
                           asp-route-id="@item.ServiceId"
                           asp-route-urlReturn="@pathAndQuery"
                           class="btn" style="margin-top:5px;">
                            Удалить
                        </a>
                    }
                    else
                    {
                        <button type="submit" class="book-button"
                                data-bs-target="#openModalList-@item.ServiceId">
                            Записаться
                        </button>
                    }
                </div>
            </div>
        </div>
    }
</div>

<script>
    function capitalizeFirstLetter(event) {
        var input = event.target;
        var value = input.value;
        if (value.length === 1) {
            input.value = value.charAt(0).toUpperCase();
        }
    }
</script>

@Html.PaginationBootstrapServ(Model)

<!-- Модальное окно -->
<div class="modal" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title btn_header" id="exampleModalLabel">Записаться на прием</h4>
                <img class="close" src="~/images/close.png" style="cursor: pointer" />
            </div>
            <div class="modal-body" style="color: black">
                <form method="post" asp-controller="Service" asp-action="Create" id="contactForm">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name" name="Name" placeholder="Введите ваше имя" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control phone" id="phone" name="Phone" placeholder="Ваш телефон +7(999)999-99-99" required>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="area" rows="3" name="Symptoms" placeholder="Опишите симптомы"></textarea>
                    </div>
                    <button type="submit" class="btn">Заказать звонок</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно с сообщением -->
<font color="black;">
    <div id="thankYouModal" class="modal">
        <div class="modal-content">
            <img class="thank-you-close" src="~/images/close.png" style="cursor: pointer" />
            <h5 style="text-align: center;">Спасибо за вашу заявку! Мы свяжемся с вами в ближайшее время.</h5>
        </div>
    </div>
</font>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var openModalButtons = document.querySelectorAll(".book-button");
        var closeModalButtons = document.querySelectorAll(".close");
        var modal = document.getElementById("modal");
        var thankYouModal = document.getElementById("thankYouModal");
        var form = document.getElementById("contactForm");
        var area = document.getElementById("area");
        var name = document.getElementById("name");
        var phone = document.getElementById("phone");
        var thankYouCloseBtn = document.querySelector(".thank-you-close");

        function openModal() {
            modal.style.display = "block";
            name.value = "";
            phone.value = "";
            area.value = "";
        }

        function closeModal() {
            modal.style.display = "none";
        }

        openModalButtons.forEach(function (button) {
            button.addEventListener("click", openModal);
        });

        closeModalButtons.forEach(function (button) {
            button.addEventListener("click", closeModal);
        });

        window.addEventListener("click", function (event) {
            if (event.target === modal) {
                closeModal();
            }
        });

        form.addEventListener("submit", function (event) {
            event.preventDefault();
            var enteredName = name.value.trim();
            var enteredPhone = phone.value.trim();

            if (enteredName === "" || enteredPhone === "") {
                alert("Пожалуйста, заполните все поля");
            } else {
                closeModal();
                thankYouModal.style.display = "block";
            }
        });

        thankYouCloseBtn.addEventListener("click", function () {
            thankYouModal.style.display = "none";
        });

        window.addEventListener("click", function (event) {
            if (event.target === thankYouModal) {
                thankYouModal.style.display = "none";
            }
        });
    });
</script>
