@using FinalWorkDentistry.Domains;
@model FinalWorkDentistry.Models.ServicesModel

@{
    Layout = "~/Views/Shared/_Layout - Blazor.cshtml";
    ViewData["Title"] = "Детально";
}

<h1>@ViewData["Title"]</h1>

<div>


    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryService)
        </dt>
        <dd class="col-sm-10">
            
            @Html.DisplayFor(model => model.CategoryService)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="ListView">Обратно</a>
</div>